body {
  margin: 0;
  background: #141414;
  color: #f0f0f0;
  font: normal 16px Helvetica, Arial, sans-serif;
}

main {
  min-width: 600px;
  max-width: 1000px;
  background: #333333;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

figure {
  margin: 0;
}

figure img {
  border: 15px solid #ffffff;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
figcaption {
  padding: 20px 0 0 0;
}
ul {
  font-size: 0;
  padding: 0;
  margin: 10px -15px;
}

li {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}

li img {
  border: 3px solid #ffffff;
}
